<% unless current_user == @user %>
	<% if current_user.friends.include?(@user) %>
		<%= link_to 'Message', conversation_messages_path(@conversation) %>
	<% else %>
		<%= link_to friendships_path(@user) do %>
			<div class="button button__primary">
				Ask <%= @user.firstname %> To Be Friends
			</div>
		<% end %>
	<% end %>
<% end %>