.button {
	height: 24px;
	width: 100%;
	text-align: center;
	&__primary {
		background: #000;
		color: #fff;
	}
	&__secondary {
		background: #fff;
		color: #000;
		border: 1px solid #000;
	}
	&:hover {
		background: #000;
	}
}

.growl {
	box-sizing: border-box;
	margin: 50px auto;
	width: 100%;
	padding: 20px;
	background: #E0E0E0;
	border-radius: 30px;
}

.avatar {
	object-fit: cover;
}

.avatar__small {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	& img {
		height: 40px;
		width: 40px;
	}
}

.friend__line-item,
.friend__line-item_name {
	display: flex;
}

.friend__line-item {
	background: #F0F0F0;
	padding: 10px;
	border-radius: 25px;
	.avatar__small {
		margin: auto 10px auto 0;
	}
}

.convo__link {
	margin: auto 0 auto auto;
}