.button {
	height: 30px;
	width: 100%;
	min-width: 100%;
	text-align: center;
	font-family: arial, sans serif;
	font-size: 16px;
	margin-bottom: 10px;
	padding: 7px;
	border: none;
	border-radius: 15px;
}

.button__primary {
	background: #FF6666;
	color: #FFF;
	cursor: pointer;
	&:hover {
		background: #000;
	}
}
.button__secondary {
	background: #000;
	color: #FFF;
	cursor: pointer;
	&:hover {
		background: #ccc;
	}
}

.growl {
	box-sizing: border-box;
	margin: 50px auto;
	width: 100%;
	padding: 20px;
	background: #E0E0E0;
	border-radius: 30px;
}

.avatar {
	object-fit: cover;
}

.avatar__small {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	& img {
		height: 40px;
		width: 40px;
	}
}

.friend__line-item,
.friend__line-item_name {
	display: flex;
}

.friend__line-item {
	background: #F0F0F0;
	padding: 10px;
	border-radius: 25px;
	.avatar__small {
		margin: auto 10px auto 0;
	}
}

.convo__link {
	margin: auto 0 auto auto;
}

.notification {
	margin: 0 auto -10px 0;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #FF6666;
	z-index: 1;
}

.control__icon {
	width: 32px;
	height: 32px;
	svg {
		width: 32px;
		height: 32px;
	}
}