	<!-- TOGGLE -->
	<!-- TOGGLE -->
	<!-- TOGGLE -->
	<%= link_to users_path, class: 'footer__toggle' do %>
		<div class="footer__toggle-global">
			<%= show_svg('icon_global.svg') %>
		</div>
		<div class="footer__toggle-local">
			<%= show_svg('icon_local.svg') %>
		</div>
	<% end %>
